<!--  
 Copyright 2019 Ignacio Loyola @nodonade.com
 Version 0.1 (Working first step blog) 
-->

<div class="col-md-12 mt-3">
<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>Resetear Contraseña</h3>
      <div class="col-md-5 ml-0 pl-0">
      <p class="text-center">Por favor, ingresa tu email para enviar una solicitud de cambio de contraseña.</p>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" #passwordResetEmail required>
      </div>

      <!-- Calling ForgotPassword from AuthService Api -->
      <div class="form-group">
        <input type="submit" class="btn btn-succes" value="Resetear contraseña" (click)="authService.ForgotPassword(passwordResetEmail.value)">
      </div>
    </div>

    <div class="redirectToLogin">
      <span>¿Quieres volver? <a [routerLink]="['/login']">Logeate aquí </a> </span>
    </div>

    </div>

  </div>
</div>
</div>